.navbar-light .navbar-brand {
    color: #61AD00 !important;
}
.navbar-nav a{
    text-decoration: none;
    color :#222222;
    font-size: 16px;
    margin: 10px;
}
.navbar-nav a:hover{
    color:#91fa07;
}